/* You can add global styles to this file, and also import other style files */
:root {
  --yellow: #fdb912;
  --dark-yellow: #e0a800;
  --blue: #0d1b2a;
  --white: #ffffff;
  --gray: #f5f5f5;
  --dark-gray: #1b263b;
}

body {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  color: var(--white);
  background-color: var(--blue);
}
